* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    font-size: 1rem;
    color: #ddd;
}
dl {
    margin: 0;
    font-family: monospace;
}

#app {
    padding: 1rem;
    position: relative;
}

img.favicon {
    width: 16px;
    height: 16px;
}

.screen {
    display: flex;
}
.screen .faction.radiant, .screen .faction.dire {
    width: 16rem;
}
.screen .faction.radiant {
    order: 0;
}
.screen .faction.dire {
    /*order: 2;*/
}
.screen #video {
    width: calc(100% - 32rem);
    order: 1;
    padding: 0 1rem;
}

.map {
    width: 15rem;
    height: 15rem;
    position: relative;
}    
.map img {
    width: 15rem;
    height: 15rem;
}
.map .building, .map .player {
    position: absolute;
    font-size: 20%;
}
.map .player {
    width: 16px;
    height: 16px;
    outline: 1px solid;
}
.map .player.radiant {
    outline-color: lightgreen;
}
.map .player.dire {
    outline-color: indianred;
}
.map .building.radiant {
    color: lightgreen;
}
.map .building.dire {
    color: indianred;
}

.faction h2 {
    font-size: 120%;
    margin: .5rem 0 .5rem;
}
.faction .player {
    width: 200px;
    padding: 15px;
    position: fixed;
    transition: all 1s;
    top: 250px;
    right: -300px;
    border-radius: 25px;
    border: 5px solid rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.5);
}
.faction .team-kills {
    font-size: 1rem;
}

.player-summary {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0 10px 0;
}
.name {
    width: 150px;
    margin-left: .5rem;
    word-break: break-all;
    white-space: nowrap;
    overflow: hidden;
}

.player-name {
    /*-webkit-text-stroke: 1px black;*/
    font-weight: bold;
    font-size: 1.3em;
}
.player-summary .level {
    font-size: 90%;
}

.radiant .player-summary .hero-portrait img {
    border: 3px solid green;
}

.dire .player-summary .hero-portrait img {
    border: 3px solid red;
}

.player-summary .hero-portrait {
    margin-right: .5rem;
    height: 36px;
    position: relative;
}
.player-summary .hero-portrait .respawn-timer {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
    background-color: #000;
    width: 2rem;
    text-align: center;
}
.player-summary .hero-portrait img {
    width: 60px;
    height: 36px;
}
.player-summary .hero-portrait img.dead {
    filter: grayscale();
}
.player-summary .links {
    margin-right: .5rem;
}

.items {
    width: 15rem;
    display: flex;
    flex-wrap: wrap;
}
.items .item img {
    width: 36px;
    height: 27px;
}
.items .item img.empty {
    opacity: 0.1;
}
.scores {
    font-family: monospace;
    display: flex;
    flex-wrap: wrap;
}
.scores dt {
   float: left;
  width: 35%;
  /* adjust the width; make sure the total of both is 100% */
  padding: 0;
  margin: 0
}
.scores dd {
      float: left;
  width: 65%;
  /* adjust the width; make sure the total of both is 100% */
  padding: 0;
  margin: 0
}
.scores dd.buyback-status {
    width: calc(100% - 3.5rem);
}
.buyback-status .yes {
    color: green;
}
.buyback-status .no {
    color: red;
}

.match p {
    display: inline-block;
    margin: 0;
    font-family: monospace;
    line-height: 1rem;
}
.match p img {
    vertical-align: middle;
}

.stash {
    display: none;
}

.radiant .inventory img{
    border: 1px solid green;
}

.dire .inventory img{
    border: 1px solid red;
} 